<div class="bg-base-100 bg-opacity-70 backdrop-blur-3xl rounded-box h-32 w-full p-5 mt-5 flex items-center">
    <figure>
        <img src="{{ category.image }}"
             class="h-24 w-24 rounded-full object-cover"
             height="6rem"
             width="6rem"
             loading="lazy"
             alt="{{ post.title }}" />
    </figure>
    <div class="ml-5 w-4/6 text-left overflow-hidden">
        <h3 class="text-base font-semibold capitalize">{{ category.name }}</h3>
    </div>
</div>