{% load static %}
<div class="w-screen bg-base-100 bg-opacity-70 fixed top-0 right-0 left-0 z-10 backdrop-blur-3xl">
    <div class="navbar px-5 max-w-7xl mx-auto">
        <div class="navbar-start">
            <!-- logo icon -->
            <a href="/" class="flex items-center gap-1 text-secondary-focus">
                <svg class="h-10 w-10"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="500"
                     zoomAndPan="magnify"
                     viewBox="0 0 375 374.999991"
                     height="500"
                     preserveAspectRatio="xMidYMid meet"
                     version="1.0">
                    <defs><clipPath id="da6624fed4">
                    <path d="M 167.082031 91 L 329.082031 91 L 329.082031 274.742188 L 167.082031 274.742188 Z M 167.082031 91 " clip-rule="nonzero" />
                    </clipPath></defs>
                    <g clip-path="url(#da6624fed4)">
                    <path fill="currentColor" d="M 246.273438 183.386719 C 311.925781 177.792969 309.367188 103.707031 329.082031 96.082031 C 297.871094 86.554688 211.070312 87.507812 212.558594 140.289062 C 208.625 131.476562 213.378906 115.015625 213.378906 115.015625 C 190.285156 133.011719 180.105469 164.09375 185.640625 205.210938 C 174.378906 232.503906 168.378906 256.5625 167.082031 274.675781 C 174.734375 247.472656 207.382812 148.972656 284.722656 124.921875 C 242.625 146.878906 215.960938 190.402344 199.921875 227.878906 C 248.832031 222.730469 272.347656 201.742188 286.074219 177.859375 C 286.074219 177.859375 266.304688 190.285156 246.273438 183.386719 Z M 246.273438 183.386719 " fill-opacity="1" fill-rule="nonzero" />
                    </g>
                    <path fill="currentColor" d="M 72.699219 91.972656 C 77.957031 91.972656 81.460938 93.726562 84.964844 97.234375 L 155.0625 167.375 C 162.074219 174.386719 162.074219 184.910156 155.0625 191.921875 L 84.964844 262.0625 C 77.957031 269.078125 67.441406 269.078125 60.429688 262.0625 C 53.421875 255.050781 53.421875 244.527344 60.429688 237.515625 L 118.261719 179.648438 L 60.429688 121.78125 C 53.421875 114.769531 53.421875 104.246094 60.429688 97.234375 C 63.9375 93.726562 67.441406 91.972656 72.699219 91.972656 Z M 72.699219 91.972656 " fill-opacity="1" fill-rule="nonzero" />
                </svg>
                <span class="font-extrabold font-mono">Poeticcode</span>
            </a>
        </div>
        <div class="hidden md:flex md:gap-2 navbar-center">
            <a href="/" class="btn join-item btn-ghost btn-sm">
                Home
            </a>
            <button class="btn join-item btn-ghost btn-sm">
                Categories
            </button>
            <button class="btn join-item btn-ghost btn-sm">
                Trending
            </button>
        </div>
        <div class="navbar-end">
            <button class="btn btn-circle btn-ghost btn-active btn-sm mr-2">
                <!-- search icon -->
                <svg class="fill-base-content h-5 w-5"
                     xmlns="http://www.w3.org/2000/svg"
                     width="26"
                     height="26"
                     viewBox="0 0 24 24">
                    <path d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3l-1.4 1.4ZM9.5 14q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z" />
                </svg>
            </button>
            <label onchange="toggle()"
                   class="btn btn-circle btn-ghost btn-active btn-sm swap swap-rotate z-30 md:hidden">
                <!-- this hidden checkbox controls the state -->
                <input type="checkbox" id="hamburger" />
                <!-- hamburger icon -->
                <svg class="swap-off fill-current h-5 w-5"
                     xmlns="http://www.w3.org/2000/svg"
                     width="32"
                     height="32"
                     viewBox="0 0 512 512">
                    <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
                </svg>
                <!-- close icon -->
                <svg class="swap-on fill-current h-5 w-5"
                     xmlns="http://www.w3.org/2000/svg"
                     width="32"
                     height="32"
                     viewBox="0 0 512 512">
                    <polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49" />
                </svg>
            </label>
            <div class="hidden md:flex md:gap-2 items-center">
                {% if user.is_authenticated %}
                    <a href="{% url 'post-create' %}" class="btn btn-sm btn-primary">
                        <!-- write (pen) icon -->
                        <svg class="h-4 w-4"
                             xmlns="http://www.w3.org/2000/svg"
                             width="20"
                             height="20"
                             viewBox="0 0 14 14">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5 12.24L.5 13.5L1.76 9L10 .8a1 1 0 0 1 1.43 0l1.77 1.78a1 1 0 0 1 0 1.42Z" />
                        </svg>
                        Write
                    </a>
                    <a href="{% url 'user-profile' user.username %}" class="ml-2">
                        <img src="{{ user_profile.profile_pic.url }}"
                             alt="{{ user.usename }}"
                             height="{{ user_profile.profile_pic.height }}"
                             width="{{ user_profile.profile_pic.width }}"
                             class="w-7 h-7 rounded-full object-cover ring ring-primary ring-offset-base-100 ring-offset-2">
                    </a>
                {% else %}
                    <a href="{% url 'post-create' %}" class="btn btn-sm btn-primary">
                        <!-- write (pen) icon -->
                        <svg class="h-4 w-4"
                             xmlns="http://www.w3.org/2000/svg"
                             width="20"
                             height="20"
                             viewBox="0 0 14 14">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5 12.24L.5 13.5L1.76 9L10 .8a1 1 0 0 1 1.43 0l1.77 1.78a1 1 0 0 1 0 1.42Z" />
                        </svg>
                        Write
                    </a>
                    <a href="{% url 'register' %}" class="btn btn-secondary btn-sm">
                        <!-- register icon -->
                        <svg class="h-5 w-5"
                             xmlns="http://www.w3.org/2000/svg"
                             width="10"
                             height="10"
                             viewBox="0 0 24 24">
                            <path fill="currentColor" d="M15 14c-2.67 0-8 1.33-8 4v2h16v-2c0-2.67-5.33-4-8-4m-9-4V7H4v3H1v2h3v3h2v-3h3v-2m6 2a4 4 0 0 0 4-4a4 4 0 0 0-4-4a4 4 0 0 0-4 4a4 4 0 0 0 4 4Z" />
                        </svg>
                    Register</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="absolute flex items-start justify-end top-0 w-screen h-screen bg-gradient-to-bl from-secondary to-accent md:hidden z-20 overflow-hidden"
         style="clip-path: circle(0% at 100% 0%)">
        <div class="absolute top-3 left-5 text-secondary-content">
            <a href="/" class="flex items-center gap-1">
                <svg class="h-10 w-10"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="500"
                     zoomAndPan="magnify"
                     viewBox="0 0 375 374.999991"
                     height="500"
                     preserveAspectRatio="xMidYMid meet"
                     version="1.0">
                    <defs><clipPath id="da6624fed4">
                    <path d="M 167.082031 91 L 329.082031 91 L 329.082031 274.742188 L 167.082031 274.742188 Z M 167.082031 91 " clip-rule="nonzero" />
                    </clipPath></defs>
                    <g clip-path="url(#da6624fed4)">
                    <path fill="currentColor" d="M 246.273438 183.386719 C 311.925781 177.792969 309.367188 103.707031 329.082031 96.082031 C 297.871094 86.554688 211.070312 87.507812 212.558594 140.289062 C 208.625 131.476562 213.378906 115.015625 213.378906 115.015625 C 190.285156 133.011719 180.105469 164.09375 185.640625 205.210938 C 174.378906 232.503906 168.378906 256.5625 167.082031 274.675781 C 174.734375 247.472656 207.382812 148.972656 284.722656 124.921875 C 242.625 146.878906 215.960938 190.402344 199.921875 227.878906 C 248.832031 222.730469 272.347656 201.742188 286.074219 177.859375 C 286.074219 177.859375 266.304688 190.285156 246.273438 183.386719 Z M 246.273438 183.386719 " fill-opacity="1" fill-rule="nonzero" />
                    </g>
                    <path fill="currentColor" d="M 72.699219 91.972656 C 77.957031 91.972656 81.460938 93.726562 84.964844 97.234375 L 155.0625 167.375 C 162.074219 174.386719 162.074219 184.910156 155.0625 191.921875 L 84.964844 262.0625 C 77.957031 269.078125 67.441406 269.078125 60.429688 262.0625 C 53.421875 255.050781 53.421875 244.527344 60.429688 237.515625 L 118.261719 179.648438 L 60.429688 121.78125 C 53.421875 114.769531 53.421875 104.246094 60.429688 97.234375 C 63.9375 93.726562 67.441406 91.972656 72.699219 91.972656 Z M 72.699219 91.972656 " fill-opacity="1" fill-rule="nonzero" />
                </svg>
                <span class="font-extrabold font-mono">Poeticcode</span>
            </a>
        </div>

        <div class="flex flex-col gap-5 items-end p-10 mt-28 text-secondary-content">
            <a href="/" class="text-xl uppercase font-bold">
                HOME
            </a>
            <a href="#" class="text-xl uppercase font-bold">
                Categories
            </a>
            <a href="#" class="text-xl uppercase font-bold">
                Trending
            </a>
            <a href="{% url 'post-create' %}" class="text-xl uppercase font-bold">
                Write
            </a>

 
            {% if user.is_authenticated %}
                <a href="{% url 'user-profile' user.username %}"
                   class="text-xl uppercase font-bold">
                    Profile
                </a>
                <a href="{% url 'logout' %}" class="text-xl uppercase font-bold">
                    Logout
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="text-xl uppercase font-bold">
                    Login
                </a>
                <a href="{% url 'register' %}" class="text-xl uppercase font-bold">
                    Register
                </a>
            {% endif %}
 
        </div>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script>
    const hamburger = document.getElementById('hamburger');

    var tl = gsap.timeline({
        defaults: {
            duration: 0.7,
            ease: Back.easeOut.config(2)
        }
    });

    tl.paused(true);
    tl.to('#mobileMenu', {
        clipPath: 'circle(100% at 100% 0%)'
    })


    function toggle() {
        if (hamburger.checked) {
            /* mobileMenu.style.display = 'revert'; */
            tl.play();
        } else {
            /* mobileMenu.style.display = 'none'; */
            tl.reverse(0.9);
        }
    }
</script>
