{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="hero min-h-screen">
        <div class="hero-content p-5 w-full">
            <div class="min-w-full grid grid-cols-1 lg:grid-cols-11 gap-5 mt-48">
                <div class="col-span-1 lg:col-span-7">
                    <a href="##"> <!-- href="// url 'blog-detail' featured_post.slug //" -->
                        <div class="card bg-base-100 bg-opacity-90 glass">
                            <figure>
                                <img src="{{ featured_post.thumbnail }}"
                                     alt="{{ featured_post.title }}"
                                     width="0"
                                     height="0"
                                     class="h-full w-full object-cover" />
                            </figure>
                            <div class="card-body">
                                <h2 class="card-title gap-5 text-lg justify-between">
                                    {{ featured_post.title }}
                                    <div class="badge badge-secondary">FEATURED</div>
                                </h2>
                                <p class="text-base font-normal">{{ featured_post.excerpt }}</p>
                                <div class="card-actions justify-start text-start">
                                    <div class="badge badge-outline badge-accent">{{ featured_post.category }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-span-1 lg:col-span-4 w-full rounded-box p-5 bg-base-100 bg-opacity-70 backdrop-blur-3xl">
                    <div class="flex items-center gap-2">
                        <svg class="fill-primary text-primary h-5 w-5 "
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24">
                            <path fill="currentColor" d="M1.414 16.432L0 15.018l7.071-7.071l6.364 6.364l4.243-4.243l-1.743-1.742l6.692-1.793l-1.793 6.692l-1.742-1.742l-5.657 5.656l-6.364-6.364l-5.657 5.657Z" />
                        </svg>
                        Trending on 69ms World..
                    </div>
                    {% for post in trending_posts %}
                        {% include 'partials/trending_post_card.html' %}
                    {% endfor %}
                </div>
                <div class="col-span-1 lg:col-span-7 flex flex-col gap-5">
                    {% for post in random_posts %}
                        {% include 'partials/post_card.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-1 lg:col-span-3">
        <div class="w-full h-56 glass flex justify-center items-center rounded-lg text-primary-content">Fuckin footer</div>
    </div>
{% endblock content %}
