{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container max-w-7xl p-5 mx-auto">
        <div class="min-w-full inline-grid grid-cols-1 lg:grid-cols-11 gap-5 mt-48">
            <div class="col-span-1 lg:col-span-7">
                <div class="w-full relative">
                    <a href="##"> <!-- href="// url 'blog-detail' featured_post.slug //" -->
                        <div class="card bg-base-100 bg-opacity-90 glass">
                            <figure>
                                <img src="{{ featured_post.thumbnail }}"
                                        alt="{{ featured_post.title }}"
                                        width="0"
                                        height="0"
                                        class="h-full w-full object-cover" />
                            </figure>
                            <div class="absolute top-5 left-5 badge badge-secondary badge-lg">
                                FEATURED
                            </div>
                            <div class="card-body p-5">
                                <h2 class="card-title text-base md:text-lg font-semibold">
                                    {{ featured_post.title }}
                                </h2>
                                <p class="text-sm md:text-base font-normal">{{ featured_post.excerpt }}</p>
                                <div class="card-actions justify-between text-start">
                                    <div class="badge badge-outline badge-primary mt-2">{{ featured_post.category }}</div>
                                    <div class="text-xs mt-2 flex gap-2 items-center">
                                        <svg class="text-info h-4 w-4"
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M12 20a8 8 0 0 0 8-8a8 8 0 0 0-8-8a8 8 0 0 0-8 8a8 8 0 0 0 8 8m0-18a10 10 0 0 1 10 10a10 10 0 0 1-10 10C6.47 22 2 17.5 2 12A10 10 0 0 1 12 2m.5 5v5.25l4.5 2.67l-.75 1.23L11 13V7h1.5Z" />
                                        </svg>
                                        {{ featured_post.updated_at }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="col-span-1 lg:col-span-7 flex flex-col gap-5 mt-5">
                        {% for post in random_posts %}
                            {% include 'partials/post_card.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="col-span-1 lg:col-span-4 h-fit w-full">
                <div class="w-full rounded-box p-5 bg-base-100 bg-opacity-70 backdrop-blur-3xl">
                    <div class="flex items-center gap-2">
                        <svg class="fill-primary text-primary h-5 w-5"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24">
                            <path fill="currentColor" d="M1.414 16.432L0 15.018l7.071-7.071l6.364 6.364l4.243-4.243l-1.743-1.742l6.692-1.793l-1.793 6.692l-1.742-1.742l-5.657 5.656l-6.364-6.364l-5.657 5.657Z" />
                        </svg>
                        Trending on 69ms World ...
                    </div>
                    {% for post in trending_posts %}
                        {% include 'partials/trending_post_card.html' %}
                    {% endfor %}
                </div>
                <div class="w-full rounded-box p-5 bg-base-100 bg-opacity-70 backdrop-blur-3xl mt-5">
                    <div class="flex items-center gap-2">
                        <svg class="fill-primary text-primary h-5 w-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M6.5 11L12 2l5.5 9h-11Zm11 11q-1.875 0-3.188-1.313T13 17.5q0-1.875 1.313-3.188T17.5 13q1.875 0 3.188 1.313T22 17.5q0 1.875-1.313 3.188T17.5 22ZM3 21.5v-8h8v8H3Z"/></svg>
                        Browse by category ...
                    </div>
                    {% for category in categories %}
                        {% include 'partials/category_card.html' %}
                    {% endfor %}
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="col-span-1 lg:col-span-3">
        <div class="w-full h-56 glass flex justify-center items-center rounded-lg text-primary-content">Fuckin footer</div>
    </div>
{% endblock content %}
