{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <meta name="description"
          property="og:description"
          content="Login to Poeticcode">
    <meta name="keywords"
          content="login, sign in, join, Poeticcode, poetic, code, poetic code">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index follow">
{% endblock meta %}
{% block header %}
    <title>Login | Poeticcode</title>
{% endblock header %}
<!-- navbar block to remove its contents -->
{% block navbar %}
{% endblock navbar %}
{% block toast %}
{% endblock toast %}
{% block content %}
    <div class="w-screen landscape:min-h-screen portrait:h-screen flex justify-center items-center">
        <div class="card lg:card-side bg-base-100 bg-opacity-70 backdrop-blur-3xl shadow-xl w-11/12 md:w-5/6 h-fit lg:h-5/6 lg:grid lg:grid-cols-2">
            <!-- right side of card which has image in it; hidden of small to medium devices-->
            <figure class="relative">
                <img src="{% static 'images/register_bg.png' %}"
                     alt="mountain"
                     class="w-full h-full object-cover hidden lg:block" />
                <div class="absolute top-0 left-0 h-full w-full flex items-center justify-center">
                    <div class="text-center p-16">
                        <h1 class="text-neutral-content font-bold text-4xl">
                            Welcome
                        </h1>
                        <p class="text-neutral-content text-md text-justify mt-4">
                            Dive into Immersive World of Reading Where Bytes and Brilliance Unite Unleashing the Power of Tech, Igniting Minds, and Illuminating Futures!
                        </p>
                    </div>
                </div>
            </figure>
            <!-- Left side of card which has form in it -->
            <div class="card-body flex justify-center items-center p-0">
                <div class="w-full p-5 md:p-10">
                    <h2 class="card-title">
                        Login
                    </h2>
                    <small class="text-error ml-1">{{ form.non_field_errors }}
                        {% if messages %}
                            {% for message in messages %}
                                <span class="text-{{ message.tags }}">{{ message }}</span>
                            {% endfor %}
                        {% endif %}
                    </small>
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <input type="text"
                               name="username"
                               placeholder="Username"
                               {% if form.username.value != None %} value="{{ form.username.value }}" {% endif %}
                               class="input input-bordered input-ghost input-sm md:input-md w-full mt-4 {% if form.username.errors %} input-error {% endif %}" />
                        <input type="password"
                               name="password"
                               placeholder="Password"
                               class="input input-bordered input-ghost input-sm md:input-md w-full mt-4 {% if form.password.errors %} input-error {% endif %}" />
                        <button type="submit" class="btn btn-sm md:btn-md btn-primary w-full mt-4">
                            Sign In
                        </button>
                    </form>
                    <div class="divider mt-5 lg:mt-10">
                        OR
                    </div>
                    <a href="{% url 'social:begin' 'google-oauth2' %}"
                       class="btn btn-sm md:btn-md btn-outline w-full mt-2 lg:mt-5">
                        <img src="{% static 'icons/google.svg' %}"
                             alt="google"
                             class="w-5 h-5"
                             height="20px"
                             width="20px" />
                        Login with Google
                    </a>
                    <a href="{% url 'social:begin' 'github' %}"
                       class="btn btn-sm md:btn-md btn-outline w-full mt-4">
                        <img src="{% static 'icons/gh.svg' %}"
                             alt="github"
                             class="w-5 h-5"
                             height="20px"
                             width="20px" />
                        Login with Github
                    </a>
                    <div class="flex flex-row justify-between mt-4">
                        <p class="text-xs">
                            <a href="{% url 'password-reset' %}" class="link mt-2">Forgot password?</a>
                            <br>
                            <a href="{% url 'request-new-link-from-email' %}" class="link mt-1">Need new verification email?</a>
                        </p>
                        <a href="{% url 'register' %}" class="btn btn-sm md:btn-md btn-outline">Register Instead</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/mobile_navbar.html' %}
{% endblock content %}
{% block footer %}
{% endblock footer %}
