{% extends 'base.html' %}

{% block meta %}
    <meta name="description" property="og:description" content="Logout">
    <meta name="keywords" content="logout">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex nofollow">
    <meta name="googlebot-news" content="noindex nofollow">
{% endblock meta %}

{% block content %}
    <div class="h-screen w-screen flex justify-center content-center gapt-5">
        <h2 class="font-bold text-4xl text-info-content">
            You have been logged out
        </h2>
        <div class="alert alert-success">
            success
        </div>
        <div class="alert alert-warning">
            warning
        </div>
        <div class="alert alert-info">
            info
        </div>
        <div class="alert alert-error">
            error
        </div>
    </div>
{% endblock content %}
