{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="description" property="og:description" content="Password reset">
    <meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block header %}
    <title>Reset Password</title>
{% endblock header %}
{% block content %}
    <div class="max-w-7xl mx-auto p-5 min-h-screen text-primary-content flex items-center justify-center">
        <div class="p-5 md:p-10 lg:p-20 w-full lg:w-[80rem] rounded-box bg-base-100 bg-opacity-70 backdrop-blur-3xl text-base-content">
            <h2 class="text-left text-3xl font-bold text-success">
                Email sent successfully
            </h2>
            <p class="mt-5">
                An email was sent to your associated email address. Please check your inbox and follow the instructions to reset your password.
                <br>
                In case you already changed your password, you can <a href="{% url 'login' %}" class="text-primary link">Login here</a>.
            </p>
        </div>
    </div>
{% endblock content %}
