{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="description"
          property="og:description"
          content="Password reset Successful">
    <meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block header %}
    <title>Reset Password Successful</title>
{% endblock header %}
{% block content %}
    <div class="max-w-7xl mx-auto p-5 min-h-screen text-primary-content flex items-center justify-center">
        <div class="p-5 md:p-10 lg:p-20 w-full lg:w-[80rem] rounded-box bg-base-100 bg-opacity-70 backdrop-blur-3xl text-base-content">
            <h2 class="text-left text-xl md:text-2xl lg:text-3xl font-bold text-success">
                Password reset done successfully
            </h2>
            <p class="mt-5">
                Congrulations! Your password has been changed <span class="text-success">successfully</span>. Please <a href="{% url 'login' %}" class="text-bold link-primary link">Login here</a> with your new credentials.
            </p>
        </div>
    </div>
{% endblock content %}
