{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="description" property="og:description" content="Password reset">
    <meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block header %}
    <title>Reset Password Confirm</title>
{% endblock header %}
{% block content %}
    <div class="max-w-7xl mx-auto p-5 min-h-screen text-primary-content flex items-center justify-center">
        <div class="p-5 md:p-10 lg:p-20 w-full lg:w-[80rem] rounded-box bg-base-100 bg-opacity-70 backdrop-blur-3xl text-base-content">
            <form method="post"
                  class="w-full flex flex-col gap-5 justify-center items-center">
                {% csrf_token %}
 
                <h2 class="text-left text-3xl font-bold">
                    Reset Password Confirm
                </h2>
	
                {% for field in form %}
                    <input type="text"
                           name="{{ field.html_name }}"
                           id="{{ field.id_for_label }}"
                           placeholder="New passowrd"
                           class="input input-bordered input-md input-ghost w-full md:w-[30rem] {% if field.errors %} input-error {% endif %}" />

                    {% if field.errors %}
                        <small class="text-error mt-1">{{ field.errors|striptags }}</small>
                    {% endif %}
                {% endfor %}
	
                <button type="submit" class="btn btn-accent">
                    Reset password
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
